#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
.todo-list-container{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.todo-item{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.todo-checked{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.todo-delete-btn{
  margin-left:5px
}